<header class="site-header">
    <div class="header-wrap">
        <div class="site-logo">
            <a class="site-home" title="Anasayfa" href="/">
                {%- include logo.html -%}
            </a>
        </div>  
        <nav id="site-navigation">
          <ul>
            <li id="menu-item-1"><a title="Anasayfa" href="/">Anasayfa</a></li>
            <li id="menu-item-2"><a title="Blog" href="/ara">Ara</a></li>
            <li id="menu-item-3"><a title="Filmler" href="/hakkinda">Hakkında</a></li>
          </ul>
        </nav>
    </div>    
</header>