<figure class="feature-img">
  {%- assign feature_image = page.image -%}
  <div class="mediabox">
      {%- assign f = feature_image | split: '.' -%}
      <img alt="" id="featured" height="540" width="960"
              src="/{{ f[0] }}-960.{{ f[1] }} 960w"
              srcset="/{{ f[0] }}-320.{{ f[1] }} 320w,
                     /{{ f[0] }}-640.{{ f[1] }} 640w,
                    /{{ f[0] }}-960.{{ f[1] }} 960w,
                    /{{ f[0] }}-1280.{{ f[1] }} 1280w,
                    /{{ f[0] }}.{{ f[1] }} 1600w" 
              sizes="(max-width: 680px) 100vw, 
                    32em"
      />
  </div>
  {%- if page.caption -%}
  <figcaption class="featured-caption">{{ page.caption }}</figcaption>
  {%- endif -%}
  </figure>