body {
    color: $text;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    text-size-adjust: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex; /* Keeps the footer at the bottom */
    flex-direction: column;
    overflow-x: hidden;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

input {
    color: $text;
}

body, input, .archive-date {
    font-family: $serif;
}

/* Inline Elements   
========================================================================== */

p {
    line-height: 1.55;
    margin: 0 0 1.55em 0;
}

h1 {
    font-size: $fs1;
}

h2 {
    font-size: $fs2;
}

h3 {
    font-size: $fs3;
}

h4 {
    font-size: $fs4;
}

h5 {
    font-size: $fs5;
}

h6 {
    font-size: $fs6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    line-height: 1.1;
}

.page-content h2 {
    color: $link;
    margin-top: 2em;
}

.page-content h3 {
    font-size: $fs4;
}

a {
    color: $text;
}

p, .tag-links {
    a, a:visited, a:active {
        display: inline;
        box-shadow: inset 0 -2px $link;
    }
}

p.description {
    margin-bottom: 3rem;
    font-style: italic;
}

/* Dates
========================================================================== */

.archive-date {
    padding-top: 0.5rem;
    border-top: 1px solid $grey1;
    font-size: $fs9;
    position: relative;
    display: block;
    left: -12em;
    width: 8em;
    top: 2em;
    margin-top: -1em;
    text-align: right;
    @media only screen and (max-width: 1024px) {
        left: 0;
        top: 0;
        margin-top: -0.5em;
        margin-bottom: 1em;
        border-top: none;
        text-align: left;
    }
}

/* Images
========================================================================== */

img {
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px $grey1;
}

figure {
    margin: 1.55em auto;
}

figcaption {
    font-size: $fs9;
    color: $grey6;
    line-height: 1.35;
    margin: 0.35em auto -0.5em;
    max-width: 100%;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $grey1;
}

.ratio-box {
	position: relative;
	height: 0;
	display: block;
	width: 100%;
	/* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

input {
    background: none;
    border: none;
    outline: none;
}

/* Layout
========================================================================== */

.main {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1 0 auto;
    .text-area {
        display: block;
        max-width: 32em;
        margin-left: auto;
        margin-right: auto;
        .post-list {
            .archive-post {
                margin-bottom: 4rem;
                h2, p {
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: $fs7;
                }
            }
        }
    }
}

/* Header
========================================================================== */

.site-header {
    .header-wrap {
        max-width: 32em;
        margin: 2em auto;
        border-bottom: 1px solid $grey1;
        display: grid;
        .site-logo {
            margin: 0 auto 1em;
            .mn-logo {
                height: auto;
                width: 12em;
                @media only screen and (max-width: 1024px) {
                    width: 9em;
                }
                @media only screen and (max-width: 640px) {
                    width: 6em;
                }
            }
        }
        .nav-tog {
            width: 100%;
            padding: 1em 1em .5em;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            nav {
                width: 100%;
                ul {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    li {
                        font-size: $fs8;
                        @media only screen and (max-width: 1024px) {
                            font-size: $fs9;
                        }
                        @media only screen and (max-width: 640px) {
                            font-size: $fs10;
                        }
                        a {
                            text-transform: uppercase;
                            font-weight: 700;
                            letter-spacing: 0.04em;
                            padding: .5rem;
                        }
                    }
                }
            }
            .dark-toggle {
                border: none;
                background: none;
                margin-left: 1.5em;
                svg {
                    height: 1.5em;
                    width: 1.5em;
                    #dark-svg {
                        fill: $text;
                    }
                }
            }
        }
    }
}

/* Search 
========================================================================== */

#searchform input[type=search] {
    font-size: $fs2;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 2em 0 1em;
    border: 2px solid $grey6;
    border-radius: 20em;
    padding: 1rem;
    text-decoration: none;
  }
  
  #searchform input::placeholder {
      color: $grey4;
  }

/* Tag Cloud 
========================================================================= */

.tag-area {
    margin: 2em 0 4em;
    .tag-cloud {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        gap: 1em 2em;
        overflow-x: hidden;
        padding: 1em 0;
        list-style: none;
        li { 
            a {
                background: none !important;
                text-shadow: none !important;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                font-size: $fs9;
                white-space: nowrap;
            }
        }
    }
    #tag-list li:first-of-type {
        display: none;
    }
}

/* Dark Theme
========================================================================== */

body.dark-theme {
    color: $dark-text;
    background: $dark-body;
    a, p, input {
        color: $dark-text;
    }
    p, .tag-links {
        a, a:visited, a:active {
            box-shadow: inset 0 -2px $dark-link;
        }
    }
    .page-content h2, .tag-title span {
        color: $dark-link;
    }
    .archive-date {
        border-color: $dark-grey5;
    }
    img {
        box-shadow: 0 0 0 1px $dark-grey6;
        filter: brightness(.8) contrast(1.2);
    }
    .site-header {
        .header-wrap {
            border-bottom: 1px solid $dark-grey5;
            .site-logo {
                svg {
                    #logo-m, #logo-n {
                        fill: $dark-text;
                    }
                    #logo-ast {
                        fill: $dark-link;
                    }
                }
            }
            .nav-tog {
                .dark-toggle {
                    #dark-svg {
                        fill: $dark-text;
                    }
                }
            }
        }
    }
}