html, html[data-theme="light"] {
    --link-color: #ef476f;
    --main-background-color: #F3F5F7;
    --main-text-color: #353739;
    --grey-6: #4d4f51;
    --grey-5: #66686a;
    --grey-4: #808285;
    --grey-3: #9c9ea0;
    --grey-2: #b8babc;
    --grey-1: #d5d7d9;
    --grey-a1: #E4E6E8;
    --black-color: #2A2C2E;
    --img-filter: none;
}

html[data-theme="dark"] {
  --link-color: #D95E7B;
  --main-background-color: #1F2123;
  --main-text-color: #D5D6D7;
  --grey-6: #b8b9ba;
  --grey-5: #9c9d9f;
  --grey-4: #808284;
  --grey-3: #66686a;
  --grey-2: #4d4f51;
  --grey-1: #353739;
  --grey-a1: #2A2C2E;
  --black-color: #131416;
  --img-filter: brightness(.8) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        --link-color: #D95E7B;
        --main-background-color: #1F2123;
        --main-text-color: #D5D6D7;
        --grey-6: #b8b9ba;
        --grey-5: #9c9d9f;
        --grey-4: #808284;
        --grey-3: #66686a;
        --grey-2: #4d4f51;
        --grey-1: #353739;
        --grey-a1: #2A2C2E;
        --black-color: #131416;
        --img-filter: brightness(.8) contrast(1.2);
    }

    html[data-theme="light"] {
        --link-color: #ef476f;
        --main-background-color: #F3F5F7;
        --main-text-color: #353739;
        --grey-6: #4d4f51;
        --grey-5: #66686a;
        --grey-4: #808285;
        --grey-3: #9c9ea0;
        --grey-2: #b8babc;
        --grey-1: #d5d7d9;
        --grey-a1: #E4E6E8;
        --black-color: #2A2C2E;
        --img-filter: none;
  } 
}

body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: $serif;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    text-size-adjust: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex; /* Keeps the footer at the bottom */
    flex-direction: column;
    overflow-x: hidden;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1, h2, h3, input, .archive-date, .site-header, .tag-cloud {
    font-family: $sans;
}

/* Inline Elements   
========================================================================== */

p, .page-content ol, .page-content ul {
    line-height: 1.55;
    margin-bottom: 1.55em;
}

/************ Titles *************/

h1, h2, h3 {
    margin-bottom: 1rem;
    line-height: 1.15;
}

h1 {
    font-size: $fs1;
}

h2 {
    font-size: $fsa1;
}

h3 {
    font-size: $fs3;
}

.page-content h2 {
    margin-top: 3.65rem;
}

.page-content h3 {
    margin-top: 3.25rem;
}

.page-content h2 + h3 {
    margin-top: 1.34rem;
}

.tag-title {
    margin-bottom: 3rem;
    font-size: $fsp;
    span{
        color: var(--link-color);
    }  
}

input {
    background: none;
    border: none;
    outline: none;
}

/************ Links *************/

a {
    color: var(--main-text-color);
}

p, .page-content ul li {
    a, a:visited, a:active {
        display: inline;
        box-shadow: inset 0 -2px var(--link-color);
    }
}

/* Lists
========================================================================== */

.page-content {
ol {
    list-style-position: outside;
    li::marker {
        font-variant-numeric: lining-nums;
        font-weight: 700;
    }
}
ul {
    list-style: square outside;
}

@media only screen and (max-width: 640px) {
    ul, ol {
        list-style-position: inside;
    }
}
}

/* Images
========================================================================== */

img, video {
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--grey-1);
    filter: var(--img-filter);
}

figure {
    margin: 1.55em auto;
}

.ratio-box {
	position: relative;
	height: 0;
	display: block;
	width: 100%;
	/* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

/* Layout
========================================================================== */

.main {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1 0 auto;
    .text-area {
        display: block;
        max-width: 32em;
        margin: 3em auto;
        .post-list {
            .archive-post {
                margin-bottom: 3rem;
                h1, h2 {
                    font-size: $fsa1;
                    margin-bottom: -.5rem;
                }
                p {
                    font-size: $fs4;
                }
            }
        }
    }
}

.post-header h1 {
    margin-bottom: .5rem;
}

@media only screen and (max-width: 1024px) {
.post-header {
    margin-bottom: 2rem;
    h1 {
        margin-bottom: -.5rem;
    }
}}

/************ Dates *************/

.archive-date {
    padding-top: 0.5rem;
    border-top: 1px solid var(--grey-1);
    font-size: $fs5;
    font-weight: 700;
    color: var(--grey-4);
    position: relative;
    display: block;
    left: -12em;
    width: 8em;
    top: 2rem;
    @media only screen and (max-width: 1024px) {
        left: 0;
        top: 0;
        border-top: none;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
}

/* Header
========================================================================== */

.site-header {
    .header-wrap {
        padding: .5em 1em;
        border-bottom: 1px solid;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .site-logo {
            a {
                display: flex;
                align-items: center;
                svg {
                    height: auto;
                    width: 3.5em;
                }
                #logo-m, #logo-n {
                    fill: var(--main-text-color);
                }
                #logo-ast {
                    fill: var(--link-color);
                }
            }
        }
        nav {
            margin-left: auto;
            flex-shrink: 1;
            ul {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                li {
                    margin-left: 5vw;
                    a {
                        font-size: $fs4;
                        font-weight: 700;
                        vertical-align: middle;
                        text-transform: uppercase;
                        @media only screen and (max-width: 355px) {
                            font-size: $fs5;
                        }
                        .light-sun {
                            height: auto;
                            width: 2em;
                            fill: var(--main-text-color);
                        }
                    }
                }
            }
        }
    }
 }

 @media only screen and (min-width: 680px) {
    .site-header {
        padding-top: 1em;
        .header-wrap {
            max-width: 32em;
            margin: 0 auto;
            flex-flow: column nowrap;
            .site-logo {
                a {
                    svg {
                        width: 8em;
                        margin: 0 0 1.5em;
                    }
                }
            }
            nav {
                width: 100%;
                margin-left: 0;
                ul {
                    justify-content: space-between;
                    li {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .site-header {
        .header-wrap {
            .site-logo {
                a {
                    svg {
                        width: 12em;
                        margin: 0.5em 0 2em;
                    }
                }
            }
            nav {
                ul {
                    li a {
                        .light-sun {
                            width: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

/* Search 
========================================================================== */

#searchform input[type=search] {
    font-size: $fs2;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 2em 0 1em;
    border: 2px solid var(--grey-5);
    background-color: var(--grey-a1);
    border-radius: 20em;
    padding: 1rem 1.5rem;
    text-decoration: none;
  }
  
  #searchform input::placeholder {
      color: var(--grey-5);
  }

/* Tag Cloud 
========================================================================= */

.tag-area {
    margin: 2em 0 4em;
    h3 {
        border-bottom: 1px solid var(--grey-6);
    }
    .tag-cloud {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        gap: 1em 2em;
        overflow-x: hidden;
        padding: 1em 0;
        list-style: none;
        li { 
            a {
                background: none !important;
                text-shadow: none !important;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                font-size: $fs5;
                white-space: nowrap;
            }
        }
    }
}