body {
    color: $text;
    font-family: $sans;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    text-size-adjust: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex; /* Keeps the footer at the bottom */
    flex-direction: column;
    overflow-x: hidden;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

html {
    background-color: $link;
  }

input {
    font-family: $sans;
    color: $text;
}

/* Inline Elements   
========================================================================== */

p {
    line-height: 1.55;
    margin: 0 0 1.55em 0;
}

h1 {
    font-size: $fs1;
}

h2 {
    font-size: $fs2;
}

h3 {
    font-size: $fs3;
}

h4 {
    font-size: $fs4;
}

h5 {
    font-size: $fs5;
}

h6 {
    font-size: $fs6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    line-height: 1.1;
}

a {
    color: $text;
}

p, .tag-links {
    a, a:visited, a:active {
        display: inline;
        box-shadow: inset 0 -2px $link;
    }
}

/* Dates
========================================================================== */

.archive-date {
    font-family: $sans;
    padding-top: 0.5rem;
    border-top: 1px solid $grey2;
    font-size: $fs9;
    position: relative;
    display: block;
    left: -12em;
    width: 8em;
    top: 2em;
    margin-top: -1em;
    text-align: right;
    @media only screen and (max-width: 1024px) {
        left: 0;
        top: 0;
        margin-top: -0.5em;
        margin-bottom: 1em;
        border-top: none;
        text-align: left;
    }
}

/* Images
========================================================================== */

img {
    max-width: 100%;
}

figure {
    margin: 1.55em auto;
}

figcaption {
    font-size: $fs9;
    color: $grey6;
    line-height: 1.35;
    margin: 0.35em auto -0.5em;
    max-width: 100%;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $grey1;
}

.ratio-box {
	position: relative;
	height: 0;
	display: block;
	width: 100%;
	/* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

input {
    background: none;
    border: none;
    outline: none;
}

/* Layout
========================================================================== */

.main {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1 0 auto;
    .text-area {
        display: block;
        max-width: 32em;
        margin-left: auto;
        margin-right: auto;
        .post-list {
            .archive-post {
                margin-bottom: 4rem;
                h2, p {
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: $fs7;
                }
            }
        }
    }
}

/* Header
========================================================================== */
.site-header {
    .header-wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5em;
        max-width: 32em;
        margin: 2em auto;
        place-items: center;
        border-bottom: 1px solid $grey1;
        .site-logo {
            .mn-logo {
                height: auto;
                width: 7em;
                vertical-align: middle;
            }
        }
        nav {
            width: 100%;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                li {
                    font-size: $fs8;
                    display: flex;
                    a {
                        text-transform: uppercase;
                        position: relative;
                        flex-grow: 1;
                        text-align: center;
                        font-weight: 700;
                        letter-spacing: 0.04em;
                        padding: 1rem 0;
                        color: $text;
                    }
                    a:after{
                        content: '';
                        border-bottom: 2px solid transparent;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        width: 100%;
                    }
                    a.current:after {
                        border-bottom: 2px solid $link;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .site-header {
        .header-wrap {
            margin: 1.5em auto;
            gap: 1em 1.5em;
            .site-logo .mn-logo {
                width: 5em;
            }
            nav ul li {
                font-size: $fs9;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .site-header {
        .header-wrap {
            display: grid;
            max-width: 640px;
            margin-top: 0.2em;
            grid-template-columns: auto 1fr;
            .site-logo {
                margin-left: 1em;
                .mn-logo {
                    height: auto;
                    width: 3em;
                }
            }
            nav {
                margin-right: 1em;
                ul li {
                    font-size: 0.75em;
                }
            }
        }
    }
}
/* Search 
========================================================================== */

#searchform input[type=search] {
    font-size: $fs2;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 2em 0 1em;
    border: 2px solid $grey6;
    border-radius: 20em;
    padding: 1rem;
    text-decoration: none;
  }
  
  #searchform input::placeholder {
      color: $grey4;
  }

/* Tag Cloud 
========================================================================= */

.tag-area {
    margin: 2em 0 4em;
    .tag-cloud {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        gap: 1em 2em;
        overflow-x: hidden;
        padding: 1em 0;
        list-style: none;
        li { 
            a {
                background: none !important;
                text-shadow: none !important;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                font-size: $fs9;
                white-space: nowrap;
                .tag-line {
                    @include dotted-line;
                    height: 1px;
                    width: 100%;
                    align-self: flex-end;
                    margin: 0 0.3em;
                }
            }
        }
    }
    #tag-list li:first-of-type {
        display: none;
    }
}