html {
    --link-color: #ef476f;
    --main-background-color: #F3F5F7;
    --main-text-color: #353739;
    --grey-6: #4d4f51;
    --grey-5: #66686a;
    --grey-4: #808285;
    --grey-3: #9c9ea0;
    --grey-2: #b8babc;
    --grey-1: #d5d7d9;
    --grey-a1: #E4E6E8;
    --black-color: #2A2C2E;
    --img-filter: none;
}

@media (prefers-color-scheme: dark) {
    html {
        --link-color: #D95E7B;
        --main-background-color: #1F2123;
        --main-text-color: #D5D6D7;
        --grey-6: #b8b9ba;
        --grey-5: #9c9d9f;
        --grey-4: #808284;
        --grey-3: #66686a;
        --grey-2: #4d4f51;
        --grey-1: #353739;
        --grey-a1: #2A2C2E;
        --black-color: #131416;
        --img-filter: brightness(.8) contrast(1.2);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: $serif;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    text-size-adjust: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex; /* Keeps the footer at the bottom */
    flex-direction: column;
    overflow-x: hidden;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1, h2, h3, input, .archive-date, .blocklink, .tag-links, figcaption, .site-header, .tag-cloud, .search-item span, .subs-form, .pagination, .PageNavigation, .notice, footer {
    font-family: $sans;
}

/* Inline Elements   
========================================================================== */

p, .page-content ol, .page-content ul {
    line-height: 1.55;
    margin-bottom: 1.55em;
}

/************ Titles *************/

h1, h2, h3 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: $fs1;
}

h2 {
    font-size: $fs2;
}

h3 {
    font-size: $fs3;
}

.page-content h2 {
    margin-top: 3.95rem;
}

.page-content h3 {
    margin-top: 3.35rem;
}

.page-content h2 + h3 {
    margin-top: 1.46rem;
}

.tag-title {
    margin-bottom: 2rem;
    font-size: $fsp;
    color: var(--grey-4);
    span{
        color: var(--link-color);
    }  
}

.description {
    line-height: 1.4;
    margin-bottom: 0;
}

input {
    color: var(--main-text-color);
    background: none;
    border: none;
    outline: none;
}

/************ Links *************/

a {
    color: var(--main-text-color);
    transition: color 0.2s ease;
}

@media (hover) {
    a:hover {
        color: var(--link-color);
    }
}

p, .page-content ul li {
    a, a:visited, a:active {
        display: inline;
        box-shadow: inset 0 -2px var(--link-color);
        transition: all .2s ease;
    }
    @media (hover) {
        a:hover {
            background: var(--link-color);
            box-shadow: none;
            color: #F3F5F7;
        }
    }
}

hr {
    background-color: var(--grey-6);
    height: 4px;
    width: 6em;
    margin: 3rem 0;
    border: none;
}

::-moz-selection {
    background: rgba(227,84,117,.9);
    color: #F3F5F7;
}

::selection {
    background:rgba(227,84,117,.9);
    color: #F3F5F7;
}

a::selection {
    text-shadow: none;
}

blockquote p{
    font-style: italic;
    color: var(--grey-6);
    margin-left: 5%;
    padding-left: 1em;
    border-left: 4px solid var(--grey-2);
}

/************ Blocklink *************/

.blocklink {
    margin-bottom: 3.35rem;
    display: flex;
    align-items: center;
    a {
        background-color: var(--grey-a1);
        font-size: $fs6;
        font-weight: 700;
        color: var(--grey-6);
        box-shadow: none;
        padding: .6em 1em;
        border-radius: 10em;
        border: 1px solid var(--grey-2);
        transition: .2s all ease-in;
        @media only screen and (max-width: 480px) {
            font-size: $fs5;
        }
    }    
}

@media (hover) {
    .blocklink a:hover {
        color: var(--main-text-color);
        background-color: var(--grey-1);
    }
}

/* Lists
========================================================================== */

.page-content {
ol {
    list-style-position: outside;
    li::marker {
        font-variant-numeric: lining-nums;
        font-weight: 700;
    }
    ol {
        list-style-type: lower-roman;
        li {
            margin-left: $lh;
        }
        ol {
            list-style-type: lower-alpha;
            li {
                margin-left: $lh;
            }
        }
    }
}
ul {
    list-style: square outside;
    ul {
        list-style-type: disc;
        li{
            margin-left: $lh;
        }
        ul { 
            li {
                list-style-type: circle;
                margin-left: $lh;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    ul, ol {
        list-style-position: inside;
    }
}
}

/* Images
========================================================================== */

img, video {
    max-width: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--grey-1);
    filter: var(--img-filter);
}

#featured {
    border-radius: 0;
    box-shadow: none;
}

figure {
    margin: 1.55em auto;
}

.twitter-tweet iframe {
    background: var(--main-background-color) !important;
}

@media only screen and (max-width: 680px) {
    .feature-img {
        width: auto;
        max-width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 1em -50vw;
    }
}

figcaption {
    font-size: $fs6;
    color: var(--grey-6);
    line-height: 1.25;
    margin: 0.35em auto -0.5em;
    max-width: 100%;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--grey-1);
}

/************ Lazyloading *************/

.mediabox {
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
}

.mediabox-img.ls-blur-up-is-loading,
.mediabox-img.lazyload:not([src]) {
    visibility: hidden;
}

.ls-blur-up-img,
.mediabox-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.ls-blur-up-img {
    filter: blur(10px);
    opacity: 1;
    transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
    opacity: 0;
    filter: blur(5px);
}

.ratio-box {
	position: relative;
	height: 0;
	display: block;
	width: 100%;
	/* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.loading,
.lazyload,
.lazyloaded {
	opacity: 1;
	transition: opacity 1500ms; 
}

/* Layout
========================================================================== */

.main {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1 0 auto;
    .text-area {
        display: block;
        max-width: 32em;
        margin: 2em auto 3em;
        .post-list {
            .archive-post {
                margin-bottom: 4rem;
                h1, h2 {
                    font-size: $fsa1;
                    margin-bottom: -.5rem;
                }
                p {
                    font-size: $fs4;
                }
            }
        }
    }
}

.post-header h1 {
    margin-bottom: 0;
}

h1.page-title {
    margin-bottom: 1rem;
}

/************ Dates *************/

.archive-date {
    padding-top: 0.5rem;
    border-top: 1px solid var(--grey-1);
    font-size: $fs7;
    font-weight: 700;
    color: var(--grey-4);
    text-transform: uppercase;
    position: relative;
    display: block;
    left: -12em;
    width: 8em;
    top: 2rem;
    @media only screen and (max-width: 1024px) {
        left: 0;
        top: 0;
        border-top: none;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
}

/* Header
========================================================================== */

.site-header {
    .header-wrap {
        max-width: 32em;
        margin: 0 auto;
        .site-logo {
            display: flex;
            justify-content: center;
            margin: 1em 0;
            a {
                svg {
                    height: auto;
                    width: 5em;
                    @media only screen and (min-width: 680px) {
                        width: 7em;
                        margin: 1em 0;
                    }
                    @media only screen and (min-width: 1024px) {
                        width: 9em;
                    }
                }
                #logo-m, #logo-n {
                    fill: var(--main-text-color);
                }
                #logo-ast {
                    fill: var(--link-color);
                }
            }
        }
        nav {
            width: 100%;
            padding: 0.9rem 0;
            border-top: 1px solid var(--grey-1);
            border-bottom: 1px solid var(--main-text-color);
            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;
                li {
                    a {
                        font-size: $fs5;
                        display: flex;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
 }

/* Navigation   
========================================================================== */

.PageNavigation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 2rem 0;
    border-top: 1px solid var(--grey-1);
    .nav-link {
        .page-nav-header {
            font-size: $fs4;
            color: var(--grey-6);
            margin-bottom: .8rem;
            margin-top: 1.6rem;
        }
        a {
            font-size: $fs4;
            line-height: 1.2;
        }
    }
    .nav-link:nth-of-type(2){
        text-align: right;
    }
}

/* Pagination
========================================================================== */

.pagination {
    margin: 0 auto 3rem;
    max-width: 88vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    li {
        margin: 0 0.4em;
        a {
            height: 44px;
            width: 44px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--grey-4);
            font-variant-numeric: lining-nums;
        }
        svg {
            height: 13px;
            width: auto;
            fill: var(--grey-4);
        }
    }
    li:first-of-type {
        margin-left: 0;
    }
    li:last-of-type {
        margin-right: 0;
    }
    @media (hover) { // prevent touch device hover
        li:hover {
            a:not(.pagi-current) {
                border-color: var(--link-color);
            }
            svg {
                fill: var(--link-color);
            }
        }
    }
    li .pagi-current {
        pointer-events: none;
        cursor: default;
        border: 2px solid var(--main-text-color);
        color: var(--main-text-color);
        font-weight: 700;
        font-size: 18px;
    }  
}

/* Search 
========================================================================== */

#searchform input[type=search] {
    font-size: $fs2;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 2em 0 1em;
    border: 2px solid var(--grey-5);
    background-color: var(--grey-a1);
    border-radius: 20em;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: border-color 0.2s;
  }
  
  .search-found{
      margin-top: -1em;
  }
  
  #searchform input::placeholder {
      color: var(--grey-5);
  }
  
  #searchform input[type=search]:focus {
      border-color: var(--link-color);
  }
  
  .search-item {
      margin-bottom: 4rem;
      h2 {
          margin-bottom: 0.5rem;
      }
      p {
        font-size: $fs4;
      }
      span {
        display: block;
        margin: 0.5rem 0 1em;
        color: var(--grey-5);
        font-size: $fs5;
      }
  }

/* Tag Cloud 
========================================================================= */

.tag-area {
    margin: 2em 0 4em;
    h3 {
        border-bottom: 1px solid var(--grey-6);
        text-transform: uppercase;
    }
    .tag-cloud {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        gap: 1em 2em;
        overflow-x: hidden;
        padding: 1em 0;
        list-style: none;
        li { 
            a {
                background: none !important;
                text-shadow: none !important;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                font-size: $fs7;
                white-space: nowrap;
            }
        }
    }
}

/* Page Bottom & Tags
========================================================================= */

.page-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--grey-1);
    .share-icons{
        padding-top: 2rem;
        display: flex;
        flex-flow: row nowrap;
        a {
            margin-left: .5em;
            display: flex;
            align-items: center;
            svg {
                height: 34px;
                width: 34px;
                fill: var(--grey-2);
                transition: fill .2s;
            }
        }
        a:first-of-type {
            margin-left: -2px;
        }
        @media (hover) {
            a:hover {
                svg {
                    fill: var(--grey-3);
                }
            }
        }
    }
    .tag-section {
        padding-top: 2rem;
        .page-tags {
            .tag-links {
                margin-right: .5em;
                display: inline-block;
                .link-box {
                    padding: 5px 8px;
                    font-size: 13px;
                    line-height: 3;
                    color: var(--grey-6);
                    background-color: var(--grey-a1);
                    border: 1px solid var(--grey-2);
                    border-radius: 3px;
                    transition: all .2s;
                }
                @media (hover) {
                    a:hover {
                        color: var(--main-text-color);
                        background-color: var(--grey-1);
                    }
                }
            }
        }
    }
}

/************ Notice *************/

.notice {
    background-color: var(--main-background-color);
    padding: 1rem 8%;
    margin: 1.55em auto;
    max-width: 90%;
    display: flex;
    position: relative;
    border: solid 6px transparent;
    background-clip: padding-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-size: $fs4;
    h2 {
        margin: .9rem 0 1rem;
        color: var(--main-text-color);
    }
    p {
        line-height: 1.5;
    }
}

.notice::before {
    content: "";
    background: linear-gradient(126deg, rgba(239,71,111,1) 20%, rgba(233,176,73,1) 46%, rgba(49,155,194,1) 84%);
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    border-radius: 8px;
}

/************ Subscription *************/

.subs-form {
    padding: 1em;
    overflow: hidden;
    text-align: center;
    background-color: var(--grey-a1);
    border-top: 4px solid var(--grey-4);
}

.subs-header {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.subs-text {
    line-height: 1.4;
    font-size: $fs4a;
    margin-bottom: 1.5em;
    margin-top: 1rem;
    color: var(--grey-6);
}

.subs-bar {
    width: 20em;
    max-width: 90vw;
    margin: 0.5em auto;
}

#mce-EMAIL, #mce-FNAME {
    font-size: $fsp;
    padding: 0.6em 0;
    border: 1px solid var(--grey-2);
    background: var(--grey-1);
    margin-bottom: 1em;
    text-indent: 0.6em;
    border-radius: 4px;
    width: 100%;
}

label {
    display:block;
    font-size: $fs4a;
    text-align: left;
    padding-bottom: 0.4rem;
    font-weight: 700;
}


#mce-EMAIL:active,
#mce-EMAIL:focus, 
#mce-FNAME:active,
#mce-FNAME:focus {
    border-color: var(--link-color);
    background: var(--main-background-color);
}

#mc-embedded-subscribe {
    background: var(--main-text-color);
    border: 1px solid var(--grey-3);
    color: var(--main-background-color);
    font-size: $fsp;
    padding: 0.7em 1em;
    width: 100%;
    transition: all 0.25s ease-out;
    font-weight: 700;
    -webkit-appearance: none;
    border-radius: 4px;
    text-transform: uppercase;
}

#mc-embedded-subscribe:active,
#mc-embedded-subscribe:focus,
#mc-embedded-subscribe:hover {
    background-color: var(--link-color);
    border-color: var(--link-color);
    text-decoration: none;
    cursor:pointer;
}

/**
 * Errors
 */
.error {
    border-color: var(--link-color);
}

.error-message {
    font-size: $fs4a;
    line-height: 1.1;
    margin: -0.8em 0 1em;
    display: none;
    text-align: left;
    color: var(--grey-6);
}

.error-message:before {
    content: "!";
    color: var(--link-color);
    padding-right: 0.2em;
    font-style: normal;
}

.success-message {
  font-size: $fs4a;
  margin: 1em auto;
  text-align: left;
  line-height: 1.4;
  color: var(--link-color);
}

.mc-status:focus {
    outline: none;
}

/************ Footer *************/

footer {
    flex-shrink: 0; /* Keeps the footer at the bottom */
    background-color: var(--black-color);
    height: 4rem;
    padding: 0 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .owner {
        span {
            display: flex;
            align-content:flex-end;
            flex-flow: row nowrap;
            color: var(--main-text-color);
            svg {
                fill: #FF6C00;
                height: $fsp;
                width: auto;
                margin: 0 0.4em 0 .35em;
                transition: .2s opacity;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .follow-icons {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        a {
            margin-left: .5em;
            svg {
                fill: #FF6C00;
                height: 32px;
                width: 32px;
                transition: .2s opacity;
                &:hover {
                    opacity: .8;
                }
            }
        } 
    }
}