body {
    color: $text;
    font-family: $sans;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    text-size-adjust: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex; /* Keeps the footer at the bottom */
    flex-direction: column;
    overflow-x: hidden;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

html {
    background-color: $link;
  }

input {
    font-family: $sans;
    color: $text;
}

/* Inline Elements   
========================================================================== */

p {
    line-height: 1.55;
    margin: 0 0 1.55em 0;
}

h1 {
    font-size: $fs1;
}

h2 {
    font-size: $fs2;
}

h3 {
    font-size: $fs3;
}

h4 {
    font-size: $fs4;
}

h5 {
    font-size: $fs5;
}

h6 {
    font-size: $fs6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    line-height: 1.1;
}

a {
    color: $text;
    transition: color 0.2s ease;
}

@media (hover) {
    a:hover {
        color: $link;
    }
}

p, .tag-links {
    a, a:visited, a:active {
        display: inline;
        box-shadow: inset 0 -2px $link;
        transition: all .2s ease;
    }
    @media (hover) {
        a:hover {
            background: $link;
            box-shadow: none;
            color: $white;
        }
    }
}

hr {
    background-color: $grey7;
    height: 4px;
    margin: 1.55rem 0;
    border: none;
}

::-moz-selection {
    background:  $link;
    color: $white;
}

::selection {
    background: $link;
    color: $white;
}

a::selection {
    text-shadow: none;
}

/* Lists
========================================================================== */

.page-content {
ol {
    line-height: 1.55;
    margin-bottom: 1.55em;
    list-style-position: outside;
    li {
        margin-left: 0;
    }
    li::marker {
        font-variant-numeric: lining-nums;
        font-weight: 700;
    }
    ol {
        list-style-type: lower-roman;
        li {
            margin-left: $lh;
        }
        ol {
            list-style-type: lower-alpha;
            li {
                margin-left: $lh;
            }
        }
    }
}
ul {
    list-style: square outside;
    line-height: 1.55;
    margin-bottom: 1.55em;
    li {
        margin-left: 0;
    }
    ul {
        list-style-type: disc;
        li{
            margin-left: $lh;
            }
            ul { 
                li {
                list-style-type: circle;
                margin-left: $lh;
            }   
        }
    }
}
@media only screen and (max-width: 1024px) {
ul li, ol li {
    margin-left: 1em;
}
}
}

/* Dates
========================================================================== */


.archive-date {
    font-family: $sans;
    padding-top: 0.5rem;
    border-top: 1px solid $grey2;
    font-size: $fs9;
    position: relative;
    display: block;
    left: -12em;
    width: 8em;
    top: 2em;
    margin-top: -1em;
    text-align: right;
    @media only screen and (max-width: 1024px) {
        left: 0;
        top: 0;
        margin-top: -0.5em;
        margin-bottom: 1em;
        border-top: none;
        text-align: left;
    }
}

/* Images
========================================================================== */

img {
    max-width: 100%;
}

figure {
    margin: 1.55em auto;
}

figcaption {
    font-size: $fs9;
    color: $grey6;
    line-height: 1.35;
    margin: 0.35em auto -0.5em;
    max-width: 100%;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $grey1;
}

.ratio-box {
	position: relative;
	height: 0;
	display: block;
	width: 100%;
	/* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.loading,
.lazyload,
.lazyloaded {
	opacity: 1;
	transition: opacity 1500ms; 
}

input {
    background: none;
    border: none;
    outline: none;
}

/* Layout
========================================================================== */

.main {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1 0 auto;
    .text-area {
        display: block;
        max-width: 32em;
        margin-left: auto;
        margin-right: auto;
        .post-list {
            .archive-post {
                margin-bottom: 4rem;
                h2, p {
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: $fs7;
                }
            }
        }
    }
}

/* Header
========================================================================== */

.site-header {
    .header-wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5em;
        max-width: 32em;
        margin: 2em auto;
        place-items: center;
        border-bottom: 1px solid $grey1;
        .site-logo {
            .mn-logo {
                height: auto;
                width: 12em;
                vertical-align: middle;
            }
        }
        nav {
            width: 100%;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                li {
                    font-size: $fs8;
                    display: flex;
                    a {
                        text-transform: uppercase;
                        position: relative;
                        flex-grow: 1;
                        text-align: center;
                        font-weight: 700;
                        letter-spacing: 0.04em;
                        padding: 1rem 0;
                        color: $text;
                        &:hover{
                            color: $text;
                        }
                    }
                    a:after{
                        content: '';
                        border-bottom: 2px solid transparent;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        width: 100%;
                        transition: all .5s ease;
                    }
                    @media (hover) {
                        a:hover:after {
                            border-color: $grey7;
                            transition: all .5s ease;
                        }
                    }
                    a.current:after {
                        border-bottom: 2px solid $link;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .site-header {
        .header-wrap {
            margin: 1.5em auto;
            gap: 1em 1.5em;
            .site-logo .mn-logo {
                width: 9em;
            }
            nav ul li {
                font-size: $fs9;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .site-header {
        .header-wrap {
            display: grid;
            max-width: 640px;
            margin-top: 0.2em;
            grid-template-columns: auto 1fr;
            .site-logo {
                margin-left: 1em;
                .mn-logo {
                    height: auto;
                    width: 4em;
                }
            }
            nav {
                margin-right: 1em;
                ul li {
                    font-size: 0.75em;
                }
            }
        }
    }
}

/* Navigation   
========================================================================== */

.PageNavigation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 2em 0 3em;
    border-top: 1px solid $grey1;
    .nav-link {
        .page-nav-header {
            font-size: $fs7;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
        }
        a {
            font-size: $fs8;
            line-height: 1.1;
        }
    }
    .nav-link:nth-of-type(2){
        text-align: right;
    }
}

/* Pagination
========================================================================== */

.pagination {
    margin: 0 auto 3rem;
    padding: 1em 0;
    max-width: 88vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    li {
        margin: 0 0.4em;
        a {
            height: 44px;
            width: 44px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $grey4;
        }
        svg {
            height: 13px;
            width: auto;
            fill: $grey4;
        }
    }
    li:first-of-type {
        margin-left: 0;
    }
    li:last-of-type {
        margin-right: 0;
    }
    @media (hover) { // prevent touch device hover
        li:hover {
            a:not(.pagi-current) {
                border-color: $link;
            }
            svg {
                fill: $link;
            }
        }
    }
    li .pagi-current {
        pointer-events: none;
        cursor: default;
        border: 2px solid $text;
        color: $text;
        font-weight: 700;
        font-size: 18px;
    }  
}

/* Search 
========================================================================== */

#searchform input[type=search] {
    font-size: $fs2;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 2em 0 1em;
    border: 2px solid $grey6;
    border-radius: 20em;
    padding: 1rem;
    text-decoration: none;
    transition: border-color 0.2s;
  }
  
  .search-found{
      margin-top: -1em;
  }
  
  #searchform input::placeholder {
      color: $grey4;
  }
  
  #searchform input[type=search]:focus {
      border-color: $link;
  }
  
  .search-item {
      margin-bottom: 4rem;
      .search-item-title {
          font-size: $fs2;
          margin-bottom: 0.2rem;
      }
  }
  
  .search-results a{
      margin: 1em 0 0 0;
      line-height: 1.1;
      font-weight: 700;
      background: none !important;
  }
  
  .search-results p{
      color: $text;
      font-size: $fs7;
  }
  
  .search-results .search-info {
      h6 {
          display: inline-block;
          margin: 0 0 0.5rem 0;
          color: $text;
          font-size: $fs9;
          font-weight: 400;
      }
  }

/* Tag Cloud 
========================================================================= */

.tag-area {
    margin: 2em 0 4em;
    .tag-cloud {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        gap: 1em 2em;
        overflow-x: hidden;
        padding: 1em 0;
        list-style: none;
        li { 
            a {
                background: none !important;
                text-shadow: none !important;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                font-size: $fs9;
                white-space: nowrap;
                .tag-line {
                    @include dotted-line;
                    height: 1px;
                    width: 100%;
                    align-self: flex-end;
                    margin: 0 0.3em;
                }
            }
            @media (hover) { // prevent touch device hover
            a:hover {
                color: $link;
                }
            }
        }
    }
    #tag-list li:first-of-type {
        display: none;
    }
}

/* Page Bottom & Tags
========================================================================= */

.page-content {
    border-bottom: 1px solid $grey1;
}

.tag-section {
    margin: 1rem 0;
    .page-tags {
        margin: 1em 0 !important;
        display: flex;
        flex-flow: row wrap;
        .tag-links {
            list-style: none;
            display: flex;
            margin-right: 0.5em;
            font-size: $fs9;
        }
    }
}

.tag-title {
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
    span{
        color: $link;
    }  
}

/************ Subscription *************/

.subs-form {
    padding: 1em;
    overflow: hidden;
    text-align: center;
    background-color: $grey2;
    border-top: 4px solid $link;
}

.subs-header {
    font-size: $fs7;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
    color: $black;
}

.subs-text {
    line-height: 1.4;
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 1rem;
}

.subs-bar {
    width: 20em;
    max-width: 90vw;
    margin: 0.5em auto;
}

#mce-EMAIL, #mce-FNAME {
    font-size: $fsp;
    padding: 0.6em 0;
    border: 1px solid $grey3;
    background: $grey1;
    margin-bottom: 1em;
    text-indent: 0.6em;
    border-radius: 4px;
    width: 100%;
}

label {
    display:block;
    font-size: $fs7;
    text-align: left;
    padding-bottom: 0.4rem;
    font-weight: 700;
}


#mce-EMAIL:active,
#mce-EMAIL:focus, 
#mce-FNAME:active,
#mce-FNAME:focus {
    border-color: $link;
    background: $white;
}

#mc-embedded-subscribe {
    background: $text;
    border: 1px solid $grey3;
    color: $grey1;
    font-size: $fsp;
    padding: 0.6em 1em;
    width: 100%;
    transition: all 0.25s ease-out;
    font-weight: 700;
    -webkit-appearance: none;
    border-radius: 4px;
}

#mc-embedded-subscribe:active,
#mc-embedded-subscribe:focus,
#mc-embedded-subscribe:hover {
    background-color: $link;
    text-decoration: none;
    cursor:pointer;
}

/**
 * Errors
 */
.error {
    border-color: $link;
}

.error-message {
    font-size: $fs7;
    line-height: 1.1;
    margin: -0.8em 0 1em;
    display: none;
    text-align: left;
}

.error-message:before {
    content: "!";
    color: $link;
    padding-right: 0.2em;
    font-style: normal;
}

.success-message {
  font-size: $fs7;
  margin: 1em auto;
  text-align: left;
  line-height: 1.4;
  color: $link;
}

.mc-status:focus {
    outline: none;
}

/************ Footer *************/

footer {
    flex-shrink: 0; /* Keeps the footer at the bottom */
    background-color: $black;
    border-top: 1px solid $grey6;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}