/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

$link: #ef476f;

$white: #F3F5F7;

$grey1: #DBE2E6; 
$grey2: #C3CFD5;
$grey3: #ABBCC4;
$grey4: #93A9B4;
$grey5: #7B96A3;
$grey6: #648290;
$grey7: #546C78;
$text: #435660;
$black: #324148;

$dark-body: #1D2528;
$dark-text: #C3CFD5;
$dark-link: #D95E7B;
$dark-grey7: #2f373b;
$dark-grey6: #424b4f;
$dark-grey5: #555f63;
$dark-grey4: #555f63;
$dark-grey3: #7f8a8f;
$dark-grey2: #95a0a6;
$dark-grey1: #acb7bd;
$dark-black: #192124;

/* Typography
   ========================================================================== */

$sans: "sans", Arial, Helvetica, sans-serif;
$serif: "serifs", Georgia, "Times New Roman", Times, serif;

/* Type Scale square root of 1.4 - x-height of Freight Text = 1.183
   ========================================================================== */

$fs1:1.575em;
$fs2:1.383em;
$fs3:1.296em;
$fs4:1.215em;
$fs5:1.138em;
$fs6:1.067em;

$fsp:1em;

$fs7: 0.937em;
$fs8: 0.878em;
$fs9: 0.823em;
$fs10: 0.772em;

$lh: 1.55em;

/* Fluid Type
   ========================================================================== */

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }
  }
}

$min_width: 320px;
$max_width: 1600px;
$min_font: 17px;
$max_font: 21px;

@mixin heading-margin {
  margin: 1em 0 1rem 0;
}

/* Show Grid
   ========================================================================== */

   @mixin show-grid {
    background-image: linear-gradient(to bottom, rgba(0, 170, 255, .3) 1px, transparent 1px);
    background-position: left 0.95em;
    background-repeat: repeat;
    background-size: 100% 0.785em;
   }

   /* Dotted line 
   ========================================================================== */

   @mixin dotted-line {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='4' height='1'%3E%3Cpath stroke='%23000' stroke-width='2' d='M0 0v5'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3C/svg%3E");
   }