html,
body {
  color: #444;
  font-size: 16px;
  font-family: 'Balto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  padding: 20px;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  max-width: 100%;
}