{%- include head-dark.html -%}
<body>
{%- include header.html -%}  
<main class="main">
    <div class="text-area">
        <section class="post-list">
        {{ content }}
        {%- for post in paginator.posts -%}
        <article class="archive-post">
            {%- if post == paginator.posts.first -%}
            {%- include home-image.html -%}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            {%- else -%}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {%- endif -%}
            <div class="archive-date">{%- include date-schema.html -%}</div>
            <p class="summary">{%- if post.description -%}{{ post.description | smartify }}{%- else -%}{{ post.excerpt | strip_html | strip_newlines | truncatewords: 30 }}{%- endif -%}</p>
        </article>
        {%- endfor -%}
        </section>
        {%- include pagelinks.html -%}
    </div>
</main>
{%- include subscription.html -%}
{%- include footer.html -%}
</body>