{%- include head-dark.html -%}
<body>
{%- include header.html -%}   
<main class="main">  
    <article>
        <div class="text-area">
            <header class="post-header">
                <h1 class="post-title">{{ page.title }}</h1>
                {%- if post.date or page.date -%}
                <div class="archive-date">{%- include date-page.html -%}</div>
                {%- endif -%}
                {%- if page.description -%}
                <p class="description">{{ page.description }}</p>
                {%- endif -%}
            </header>
            {%- if page.image -%}
                {%- include page-image.html -%}
            {%- endif -%}
            <div class="page-content">
            {{ content }}
            </div>
                {%- if page.collection == "posts" -%}
                <div class = "page-bottom">
                {%- include tagging.html -%}
                {%- include share-buttons.html -%}
                </div>
                {%- endif -%}
            {%- include page-navigation.html -%}
        </div>  
    </article>
</main>
{%- include subscription.html -%}
{%- include footer.html -%}
</body>