{%- include head-dark.html -%}
<body>
{%- include header.html -%}  
<main class="main">  
    <div class="text-area">
        <h1 class="tag-title"><span>{{ page.autopages.display_name }}</span> etiketli yazılar </h1>
        <section class="post-list">
            {{ content }}
            {%- for post in paginator.posts -%}
            <article class="archive-post">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="archive-date">{%- include date-schema.html -%}</div>
                <p class="summary">{%- if post.description -%}{{ post.description | smartify }}{%- else -%}{{ post.excerpt | strip_html | strip_newlines | truncatewords: 30 }}{%- endif -%}</p>
            </article>
            {%- endfor -%}
            </section>  
            {%- include pagelinks.html -%}
    </div>
</main>
{%- include subscription.html -%}
{%- include footer.html -%}
</body>